:root {
  --root-color: #19185c;
  --white-color: #ffffff;
  --button-bg-color: #f93d14;
}

.navbar {
  background-color: var(--root-color);
}
.navbar-light .navbar-nav .nav-link {
  color: var(--white-color);
}
@media (min-width: 320px) and (max-width: 425px) {
  .navbar-brand {
    width: 100px;
  }
}
