:root {
  --root-color: #19185c;
  --white-color: #ffffff;
  --button-bg-color: #f93d14;
}

.navbar {
  background-color: var(--root-color);
  /* position: relative; */
}
.navbar-light .navbar-nav .nav-link {
  color: var(--white-color);
}

/* .navbar-light .navbar-nav .nav-link .active {
  display: block !important;
  content: "" !important;
  position: absolute !important;
  left: 0 !important;
  bottom: 10px !important;
  width: 100% !important;
  height: 2px !important;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%) !important;
  transition: width 0.2s !important;
} */
/* .navbar-light .navbar-nav.nav-link .active > .nav-link:hover:after,
.navbar-light .navbar-nav.nav-link .active > .nav-link:focus:after */
